<section>
<div class="info">
    <h2>{{person.firstName}} {{person.lastName}}</h2>
<dl>
  <dt>ID</dt>
  <dd>{{person._id}}</dd>
  <dt>First Name</dt>
  <dd>{{person.firstName}}</dd>
  <dt>Last Name</dt>
  <dd>{{person.lastName}}</dd>
  <dt>UserName</dt>
  <dd>{{person.username}}</dd>
  <dt>Profession</dt>
  <dd>{{person.profession}}</dd>
  <dt>Bio</dt>
  <dd>{{person.bio}}</dd> 
</dl> 
</div>
<div>
    <a href="/logout">Logout</a>
</div>
</section>